.App {
    text-align: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}